  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  } 
  .bg-2 { 
    background-color: #1b4ebc; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #cb1111; /* red */
    color: #555555;
  }